$primary-color: #3d2514 !important;
$black-color: #000 !important;
$white-color: #fff !important;
$yellow-color: #ffc045 !important;
$lite-black: #3d3d3d !important;
$red-color: #f20000 !important; 
$gray-color: #bebebe !important; 
$transition: all .3s ease-in-out;
$after-hover: #d62a2a !important;